* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: center;
	color: #000;
	font-family: "Muli", sans-serif;
}
header {
	background: #25B3C1;
	height: 400px;
}
nav{
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	letter-spacing: 0.2em;
	padding: 0.9em;
	line-height: 3em;
}
nav a {
	color: #fff;
	text-decoration: none;
	display: block;
	float: right;
	text-transform: uppercase;
}
h2{
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #000;
	font-size: 1em;
	font-weight: 900;
}
h3 {
	line-height: 20em;
	color: #fff;
}
p {
	color: #000;
	font-size: 0.9em;
	line-height: 1.5em;
	margin: 1em;
}
a {
	font-size: 0.9em;
	margin: 2em;
	text-decoration: none;
	color: #000;
}
footer{
	background-color: #000;
	height: 10em;
}
footer a {
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	line-height: 5em;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	letter-spacing: 0.2em;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	margin: 0.7em 0;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
#logo {
	width: 6em;
	float: left;
	margin: 2em;
}
#main {
	background: #5FDCCB;
}
#main section {
	width: 30%;
	float: left;
	background: #C4F5F0;
	margin: 1.5%;
	padding: 1%;
}
#row1 div {
	background-color: #17496D;
	width: 25%;
	height: 20em;
	float: left;
	border: 1px solid #fff;
}
#row2 div {
	background-color: #17496D;
	width: 25%;
	height: 20em;
	float: left;
	border: 1px solid #fff;
}
#quote {
	padding: 3em;
	background: #3395BB;
}


@media only screen and (max-width: 768px) {
	nav a {
		display: block;
		float: none;
		margin: 1em;
		padding: 0;
	}	
	#main section {
		width: 80%;
		float: none;
		background: #C4F5F0;
		margin: auto;
		padding: 4%;
	}
	#logo {
		width: 6em;
		float: none;
		margin: 1em;
	}
	footer{
		background-color: #000;
		height: auto;
	}
	footer a {
		display: block;
		float: none;
		line-height: 2em;
		padding: 0;
	}

}

@media only screen and (max-width: 460px) {
	#row1 div{
		width: 50%;
	}
	#row2 {
		display: none;
	}
	#main section {
		padding: 4%;
		width: 100%;
	}
}