* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: center;
	background: url(../links/surfer_background.jpeg);
	background-size: cover;
	background-repeat:no-repeat;
	color: #000;
	font-family: "Open Sans", sans-serif;
	border: 0.75em solid #1E2021;
}
nav {
	font-family: "Raleway", sans-serif;
}
footer {
	background: #1E2021;
	padding:2em 0;
}
h1 {
	letter-spacing: 0.25em;
	font-size: 6em;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin: 0.5em;
}
h2 {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 2em;
	font-weight: 400;
}
h4 {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 1em;
	font-weight: 400;
	margin: 2em;
}
p {
	color: #fff;
	line-height: 1.8em;
	margin: 2em auto;
	background: rgba(30,32,33,0.7);
	padding: 2em;
	width: 65em;
	font-size: 0.85em;
}
ul {
	list-style-type: none;
	font-size: 1em;
}
a {
	color: #1E2021;
	text-decoration: none; 
	text-transform: lowercase;
	padding: 1em;
	font-family: "Raleway", sans-serif;
}
a:hover {
	color: #45859C;
}
nav.footerlinks a {
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 4em;
}
nav.footerlinks a:hover {
	color: #45859C;
}
#viewprojects {
	text-transform: uppercase;
	letter-spacing: 0.45em;
	font-size: 0.9em;
}
#logo {
	height: 6em;
	margin: 1em;
}
.panel {
	color: #;
	text-align: center;
	vertical-align: middle;
	line-height: 4em;
	font-family: "Raleway", sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-weight: 400;
 }
.panel:hover {
	color: #45859C;
}
.projects {
	height: 20em;
}
.projectgrid {
	height: 20em;
}
.projects {
	margin: 1em auto;
}
/*.footerlinks {
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}*/
