* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: center;
	background: url("http://i.imgur.com/LncI7gF.jpg?1");
/*	background: url(links/surfer_background.jpeg);
*/	background-size: cover;
	background-repeat:no-repeat;
	color: #000;
	font-family: "Raleway", sans-serif;
	border: 0.75em solid #000;
}
h1 {
	letter-spacing: 0.25em;
	font-size: 6em;
	font-family: 'Bitter', serif;
	font-weight: 400;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
img {
	height: 6em;
	margin: 1em;
}
h2 {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 2em;
	font-weight: 400;
}
p {
	font-size: 0.9em;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	line-height: 1.8em;
	margin: 2em;
	margin-right: 20em;
	margin-left: 20em;
	background: rgba(0,0,0,0.5);
	padding: 2em;
}
nav.footerlinks a {
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 4em;
}
a {
	color: #000;
	text-decoration: none; 
	text-transform: lowercase;
	padding: 1em;
}
a:hover {
	color: #45859C;
}
nav.footerlinks a:hover {
	color: #45859C;
}
footer {
	background: #000;
	height: 3em;
}
ul {
	list-style-type: none
}
#viewprojects {
	text-transform: uppercase;
	letter-spacing: 0.45em;
	font-size: 0.9em;
}
.panel {
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 5em;
	font-family: "Raleway", sans-serif;
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	font-weight: 400;
 }
.panel:hover {
	color: #45859C;
}
/*.projects {
	height: 300px;
}*/
/*.footerlinks {
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}*/
